$color-separator:#8080802e;
$color-hover:#8080801c;
$color-bg-image:black;

.list-item-component{
    
    border-bottom: 1px solid $color-separator;
    color: $color-bg-image;
    height:100px;
    padding: 5px;

    .text{
        padding: 10px;
        padding-top: 40px;
    }

    .image-div{
        background-color: black;
    }

    &:hover{
        background-color: $color-hover;
    }
}