$color-header:#007ee5;

.header-component{
    background-color: $color-header;
    padding: 10px;
    color:white;
    font-size: 10pt;
    
    h4{
        color:white;
    }

    a{
        padding-top: 10px;
        padding-right: 10px;
        color: gray;
        &:hover{
            color:white;
        }
    }
}